@import "color.scss";
@import "font.scss";
@import "var.scss";
.container {
  width: $w_container;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  li {
    margin: 0 20px;
    position: relative;
    ul {
      list-style: none;
      justify-content: flex-start;
      position: absolute;
      top: 50px;
      left: -100px;
      display: none;
      li {
        &:hover {
          &::after {
            display: none;
          }
        }
      }
    }
    a {
      text-decoration: none;
      font-family: $f_GeneralSans_Medium;
      text-transform: uppercase;
      position: relative;
    }
    &:hover {
      &::after {
        content: " ";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 70px;
        height: 5px;
        background-color: rgb(248, 80, 51);
      }
      ul {
        display: flex;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 40px;
  background-color: antiquewhite;
  margin-top: 20px;
}
