@import "color.scss";
@import "font.scss";
@import "var.scss";

.bgWrapper {
  background-color: #f8f2e8;
  .container {
    width: $w_container;
    .products {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      .box {
        width: 275px;
        background-color: #fff;
        margin-top: 30px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding-bottom: 20px;
        .img {
          width: 100%;
          height: 300px;
          border-radius: 10px 10px 0 0;
        }
        .title {
          text-align: center;
          font-family: $f_GeneralSans_Bold;
        }
        .price {
          font-family: $f_GeneralSans_Regular;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
}
